@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

$font-stack: 'Poppins', sans-serif;

$Cyan: hsl(180, 66%, 49%);
$Dark-Violet: hsl(257, 27%, 26%);
$Red: hsl(0, 87%, 67%);
$Gray: hsl(0, 0%, 75%);
$Grayish-Violet: hsl(257, 7%, 63%);
$Very-Dark-Blue: hsl(255, 11%, 22%);
$Very-Dark-Violet: hsl(260, 8%, 14%);

h1, h2, h3, h4, h5, p, button, a, input {
    font-family: $font-stack !important;
}

h1 {
    font-size: 42px !important;
    font-weight: 900 !important;
}

h4 {
    font-size: 25px !important;
    font-weight: 900 !important;
}

p, a, input {
    font-size: 16px !important;
    font-weight: 500;
}

img {
    max-width: 100%;
}

.pad {
    padding: 150px 0;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-100 {
    margin-top: 100px !important;
}


header {
    .navbar-text {
        button {
            background-color: transparent;
            border: none;
            color: $Gray;
            font-size: 14px;
        }
        button:focus, button:hover {
            border-radius: 100px;
            background-color: $Cyan;
            color: #fff;
        }
        .spec {
            border-radius: 100px;
            background-color: $Cyan;
            color: #fff; 
        }
    }

    .main_text {
        font-size: 70px !important;
        font-weight: 900;
    }
    p {
        color: $Gray;
    }
    .main_btn {
        margin: 15px auto;
        background-color: $Cyan;
        color: #fff;
        border-radius: 100px;
        border: 1px solid $Cyan;
        padding: .5em 1.8em;
        font-size: 14px;
    }
}

.sub_sec {
    background-color: #eee;

    .form_sec {
        margin: 0 auto;

        .form_box {
            margin-left: auto;
            margin-right: auto;
            margin-top: -210px;
            padding: 2em 2em 1em 2em;
            background-image: url('../images/bg-shorten-desktop.svg');
            background-color: $Very-Dark-Violet;

            input {
                padding: 1em .8em;
            }
            .btn-short {
                padding: 1em 1em;
                background-color: $Cyan;
                color: #fff;
            }
    
            .add_l {
                color: $Red;
                font-weight: 700;
                font-size: 12px;
                font-style: italic;
            }
        }

        .form_output {
            margin: 10px auto;
            padding: 1em .5em;
            justify-content: center;
            background-color: #fff;

            .c_btn {
                background-color: $Cyan;
                color: #fff;
                font-size: 14px;
                border-radius: 5px;
                border: none;
                padding: .5em 1.5em;
            }
        }
    }

    .adv_txt {
        text-align: center;

        p {
            max-width: 40%;
            margin: 20px auto;
            line-height: 1.5;
        }
    }

    .adv_content {
        .flex_item {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        
        .mt, .mt-50, .mt-100 {
            padding: 20px;
            background-color: #fff;

            .icon_r {
                img {
                    width: 20%;
                    margin: 0 auto;
                    text-align: center;
                    background-color: $Dark-Violet;
                    border-radius: 40px;
                    padding: 20px;
                }
            }

            h4 {
                margin-top: 20px;
            }

            p {
                margin-top: 10px;
                color: $Gray;
                line-height: 1.7;
                font-size: 12px;
            }
        }
            .dash {
                border: 10px solid $Cyan;
                height: 20px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 180px;
            }
        }
    }
}

.g_stat {
    width: 100%;
    background-image: url('../images/bg-boost-desktop.svg');
    background-color: $Very-Dark-Violet;
    padding: 3em;
    color: #fff;
    text-align: center;

    h1 {
        position: relative;
    }

    .main_btn {
        margin: 15px auto;
        background-color: $Cyan;
        color: #fff;
        border-radius: 100px;
        border: 1px solid $Cyan;
        padding: .5em 1.8em;
        font-size: 14px;
    }
}

.footer {
    background-color: $Very-Dark-Violet;
    color: #fff;
    padding: 50px 0;

    ul {
        list-style: none;
        margin-bottom: 100px;
        .f-txt {
            font-weight: 900 !important;
        }
        li {
            margin: 15px auto;

            
            a {
                text-decoration: none;
                color: #fff;
            }
            a:hover, img:hover {
                color: $Cyan;
            }
        }
        
    }
}

@media (max-width: 600px) {
    h1, .main_text {
        font-size: 25px !important;
    }
    p {
        font-size: 12px !important;
    }
    header {
        .hero_content {
            text-align: center;
            .main_text {
                font-size: 40px !important;
                text-align: center;
            }
            img {
                margin-bottom: 100px;
            }
        }
        
    }

    .sub_sec {
        .btn-short {
            width: 100%;
        }
    }

    .adv_txt {
        p {
            max-width: 100% !important;
        }
    }
}